$background: #95afbf;
$primary: #f68642;
$primary-dark: #f4650e;

body {
  background-color: $background;
}

.card-signin {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border: 0;

  .card-title {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .form-label-group {
    margin-bottom: 1rem;
  }

  .custom-checkbox {
    margin-top: 2rem;
  }

  .btn-primary {
    &:hover{
      background-color: $primary;
      border-color: $primary-dark;
    }
  }
}