.card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.card-title, .time-selector, .custom-date-selector, .output-results {
    margin-bottom: 2rem;
}

.custom-date-selector.hidden {
    display: none;
}